/* src/components/Collection.css */
.collection {
  padding: 40px 20px;
  max-width: auto;
  margin: 0 auto;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.collection h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
