.for-you-container {
  display: flex;
  overflow: hidden;
  text-align: left;
  gap: 5px;
}

.for-you-item {
  flex-direction: row;
}

.for-you-item p {
  margin: 0;
}

.for-you-item img {
  width: 100%;
}
